# Editable Git install with no remote (battery-reminder==0.1.0)
-e c:\users\tejas_uvx2fi9\devstuff\battery-reminder
batteryinfo==0.1.5
bidict==0.23.1
desktop-notifier==6.1.1
nodeenv==1.9.1
packaging==25.0
pyrefly==0.17.1
pyright==1.1.401
ruff==0.11.12
typing_extensions==4.13.2
winrt-runtime==3.1.0
winrt-Windows.ApplicationModel.Core==3.1.0
winrt-Windows.Data.Xml.Dom==3.1.0
winrt-Windows.Foundation==3.1.0
winrt-Windows.Foundation.Collections==3.1.0
winrt-Windows.UI.Notifications==3.1.0
